.changepassword-form {
  padding: 20px 40px;
}

.changepassword-description {
  margin-bottom: 1rem;
}

.changepassword-form label {
  float: left;
}

.changepassword-form input {
  margin-bottom: 20px;
}

.changepassword-error-text {
  color: #c4183c;
  margin-top: 20px;
  /* font-size: 20px;
  font-weight: 600; */
  text-align: center;
}

/* .admin-login-modal-header p {
  text-align: left;
} */
