.lessons-container {
  padding: 30px 0 100px 0;
}

.lessons-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.plus {
  margin-right: 5px;
}

.lessons-card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
