.lessons-header {
    padding-top: 30px;
}

.lessons-header button {
    float: right;
}

.lessons .card-deck {
    width: 100%;
}

.plus {
    margin-right: 5px;
}

/* custom 2 column breakpoint for CardColumns */
@media only screen and (min-width: 576px) and (max-width: 1000px)  {
    .lessons-card-columns{
        column-count: 2 !important;
    }
}
