.lessonModule {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
}

.thumbnail {
    max-width: max-content;
    max-height: max-content;
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 2;
}

.infoContainer {
    flex-basis: 2;
    flex-grow: 2;
    flex-shrink: 1;
}
