.lessonModule {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    width: 400px;
    height: 400px;
}

.thumbnail {
    width: 100%;
    height: 56.25%;
}

.videoTitle {
    font-size: x-large;
}

.button {
    margin: 20px;
    margin-left: 0px;
    margin-top: 50px;
}

.button #text {
    margin: 10px;
}

.icon {
    margin-right: 5px;
}