.faq-module {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.question-button {
    background-color: white;
}

.button-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question {
    width: fit-content;
    text-align: left;
}

.arrow {
    width: min-content;
}

.answer {
    background-color: lightgray;
    padding: .75rem 1.25rem;
}