.faq-module {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: none;
  border: 1px solid #00b8d8 !important;
  border-radius: 2px !important;
}

.question-button {
  background-color: white;
}

.button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question {
  width: fit-content;
  text-align: left;
}

.arrow {
  width: min-content;
}

.answer {
  color: black;
  padding: 0.75rem 1.25rem;
}
