.faqSection {
    background-color: #E9ECEF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 125px 100px;
    width: 100%;
    height: max-content;
}

.title {
    font-size: large;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .faqSection {
        padding: 5px 15px;
    }
    .title {
        text-align: center;
    }
  }