.modal-text {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  margin-top: 4em;
  justify-content: space-evenly;
}

.modal-container {
  margin-top: 30em;
}
