.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whole-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  height: 90vh;
}

.mid-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2em;
}

.mid-left {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  max-height: 18em;
  height: 18em;
}

.mid-right {
  flex-basis: 55%;
  height: 100%;
}

.bottom {
  display: flex;
  margin-top: 8em;
}

.delete {
  flex-basis: 50%;
}

.button-group {
  display: inherit;
  justify-content: space-between;
  flex-basis: 30%;
}

.title-section {
  margin-bottom: 7%;
}

#description {
  resize: none;
  height: 20em;
}

label {
  font-weight: 600;
  font-size: 1.3em;
  color: black;
}

.vid-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  margin-top: 0;
}

.hidden {
  display: none;
}

#previewer,
#submitter,
#replacer,
#deleter {
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}

.external-link-alt {
  margin-right: 6px;
}
